extends common.jade
block styles
	link(rel='stylesheet',href='/css/homePage.0.1.css')
block products
	div#content
		div#middleCont
			if prodData
				ul.thumbnails
					each prod, key in prodData
						li.span4
							div.thumbnail.clearfix
								if prod.imgSrc
									img(src=prod.imgSrc)
								else
									img(data-src='holder.js/300x200/text:暂无图片')
								h3
									|!{prod.name}
								p
									each labelVal,labelKey in prod.label.split(",")
										span.label.label-info !{labelVal}
								a.btn.btn-primary.fr.getDetailBtn(data-prodId = key)
									详情
			else
				对不起，找不到你要找的宝贝。点击这儿
				a(title='跳转',href='/homePage')跳转首页

		<!-- 弹出的宝贝详情 start  -->
		div#prodDetail.popupBox(style='display:none;')
			div.boxHeader.clearfix
				a.closeBtn.fr(title='关闭',href='javascript:void(0);')
					×
				div.header-text
					宝贝详情
			div.textDes
				img
				h3.prodName
				p.prodLabelWrap
				p.describe
				dl.clearfix
					dt
						主人昵称
					dd.ownerName
				dl.clearfix
					dt
						联系方式
					dd.contractInfo
		<!-- 弹出的宝贝详情 end  -->	
		<!-- 弹出的关于我们 start  -->
		div#aboutUs.popupBox(style='display:none;')
			div.boxHeader.clearfix
				a.closeBtn.fr(title='关闭',href='javascript:void(0);')
					×
				div.header-text
					关于我们
			p
				我是一只前端攻城狮。做这个网站的初衷是为了处理家里的一些二手品。
			p
				对该网站的不满或赞扬，请邮箱至
				a(href='mailto:iamjoel007@gmail.com',target='_blank')
				iamjoel007@gmail.com
				,或qq:570491525 ^-^
		<!-- 弹出的关于我们 end  -->
		<!-- 弹出的发布宝贝 start  -->
		form#publishProdForm(action='/publishProd',method='post',enctype='multipart/form-data')
			div#publishProd.popupBox(style='display:none;')
				div.boxHeader.clearfix
					a.closeBtn.fr(title='关闭',href='javascript:void(0);')
						×
					div.header-text
						发布宝贝
				div.box-cont
					dl.clearfix
						dt
							宝贝图片
						dd
							ul
								li.item
									input(type='radio',name='picType',checked='checked',value='fromFile')
									选择文件
									input.ml10(type='file',name='productImgFile')
									span.tip
										图片大小请限制在10MB以下
								li.item
									input(type='radio',name='picType',value='fromNet')
									图片url
									input.ml10(type='text',name='productImgUrl',disabled='disabled',value='http://')
					dl.clearfix
						dt
							span.necessIcon * 
							label
								宝贝名	
						dd
							input(type='text',name='name')
							span.errMsg.none
					dl.clearfix
						dt
							label
								标签名	
						dd
							input(type='text',name='label')
							span.tip
								多个标签间以逗号分隔
					dl.clearfix
						dt
							span.necessIcon *
							label
								宝贝描述	
						dd
							textarea(name='describe')
							span.errMsg.none
					dl.clearfix
						dt
							span.necessIcon *
							label
								主人昵称	
						dd
							input(type='text',name='ownerName')
							span.errMsg.none
					dl.clearfix.contractWrap
						dt
							span.necessIcon *
							label
								联系方式	
						dd
							ul
								li.item
									input(type='checkbox',name='contractType',checked='checked')
									手机
									input.ml10.mobileInput(type='text',name="mobile")
								li.item
									input(type='checkbox',name='contractType')
									|qq
									input.ml10(type='text',disabled='disabled',name="qq")
							span.errMsg.phoneErr.none
					div.tc
						button#publishProdBtn.btn.btn-success.btn-large(type='submit')
							提交
		<!-- 弹出的发布宝贝 end  -->
	div#jumpUrl.none(data-serachUrl='/searchProd?keyword={word}')

block productData	
	script(type='text/javascript')
		var SAVE_SUC = 1,
			SAVE_FAI = 0,
			NOT_FROM_SAVEPAGE = 2;
		if(!{saveSucc} != NOT_FROM_SAVEPAGE){
			if(!{saveSucc}){
				alert('发布成功');
			}else{
				alert('发布失败');
			}
		}
		var data =  JSON.parse('!{prodDataStr}');//!防止对""进行编码
block scripts	
	script(type='text/javascript',src='../js/pupup.js')
	script(type='text/javascript',src='../js/homePage.0.1.js')



	
		

